<%= form_with(model: @totp_credential, method: :post, url: regenerate_backup_user_totp_credential_path) do |f| %>
  <div class="modal-header">
    <h5 class="modal-title">Regenerate TOTP Backups</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>
      To regenerate your TOTP backup codes, you will need to authenticate with your current authenticator or a backup
      code.
    </p>
    <div class="mb-3">
      <%= f.label :otp_attempt, "Current OTP Code", class: "form-label fw-semibold" %>
      <%= f.text_field :otp_attempt, placeholder: "123456", class: "form-control" %>
    </div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary-outline" data-bs-dismiss="modal">Cancel</button>
    <%= f.submit "Regenerate Authenticator", class: "btn btn-primary" %>
  </div>
<% end %>
