<%= turbo_stream.update('remote_modal-content') do %>
  <div class="modal-header">
    <h5 class="modal-title">Register TOTP Credential</h5>
  </div>
  <div class="modal-body">
    <p>
      <strong>Great success!</strong> Your TOTP code was successfully registered and your account is now protected.
    </p>
    <p>
      Please take a minute to save the below single-use recovery codes.
    </p>
    <ul class="text-center list-unstyled">
      <% @backup_codes.each do |code| %>
        <li><code><%= code %></code></li>
      <% end %>
    </ul>

    <p>
      If you lose your authenticator, you will not be able to log in without one of these codes.
      <span class="text-danger">These recovery codes will not be shown again!</span>
    </p>

    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Close</button>
  </div>
<% end %>