<h1>My Characters</h1>

<div class="btn-group mb-4" role="group" aria-label="Charater Management Actions">
  <%= link_to new_character_registration_path, class: "btn btn-primary" do %>
    <i class="bi bi-plus"></i> Create New Character
  <% end %>
</div>

<div class="row">
  <% @character_registrations.each do |character_registration| %>
    <div class="col-md-4">
      <%= render 'character_card', character_registration: character_registration %>
    </div>
  <% end %>
</div>

