<% content_for(:page_header) do %>
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Characters</h1>
    <% if can_add_characters? %>
      <%= button_to new_character_registration_path, class: "btn btn-primary", method: :get, data: { turbo_stream: "remote_modal" } do %>
        <i class="bi bi-plus"></i> Add Character
      <% end %>
    <% end %>
  </div>
  <div>
    <p>Add, verify, and remove characters associated with your XIVAuth account.</p>
  </div>
<% end %>

<div class="row" id="character_registrations">
  <% @character_registrations.each do |character_registration| %>
    <%= render 'character_card', character_registration: character_registration %>
  <% end %>
</div>

<%== @pagy.series_nav(:bootstrap) if @pagy.last > 1 %>

<%= turbo_stream_from "UserStream:#{current_user.id}", :character_registrations %>