<% content_for(:page_header) do %>
  <div>
    <h1>My Characters</h1>
    <p>Add, verify, and remove characters for use with external services.</p>
  </div>
  <div>
    <% if can_add_characters? %>
      <%= link_to new_character_registration_path, class: "btn btn-primary" do %>
        <i class="bi bi-plus"></i> Add Character
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="row" id="character_registrations">
  <% @character_registrations.each do |character_registration| %>
    <%= render 'character_card', character_registration: character_registration %>
  <% end %>
</div>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<%= turbo_stream_from "UserStream:#{current_user.id}", :character_registrations %>