<div class="alert alert-info">
  <strong>Danger, Kaz!</strong> This is going to be a real modal one day. I promise.
</div>

<div class="modal show force-visible" id="verify-character" style="position: static; display: block;">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="verifyLabel">Verify Character - Validating</h5>
      </div>
      <div class="modal-body">
        <p>
          Thanks! We'll go ahead and check for the verification key in your Lodestone profile. This process generally
          takes a few moments, but you can sit back and relax. Whenever Kaz learns how to write code, this pane will
          update to show a proper status and/or handle errors more gracefully. Eventually it'll give you a nice
          checkmark once verification succeeds!
        </p>
        <p>
          Until that day, though, feel free to click Done after a little bit. Once your character is verified (assuming
          nothing goes wrong), it'll report the verification on your characters list. Feel free to refresh a couple times.
        </p>
        <p>
          If your character still hasn't been verified after 5 minutes and you've tried a few times, contact Kaz so he
          can take a look at what went wrong.
        </p>
      </div>
      <div class="modal-footer">
        <%= button_to "Got it.", characters_path, method: :get, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>