<% content_for(:page_header) do %>
  <div class="d-flex justify-content-between align-items-center">
    <h1>My Applications</h1>
    <%= link_to new_developer_application_path, class: "btn btn-primary" do %>
      <i class="bi bi-plus"></i> Create App
    <% end %>
  </div>
  <p>Register and manage applications that use XIVAuth APIs for secure login.</p>
<% end %>

<div class="row">
  <% @applications.each do |app| %>
    <div class="col-md-6 col-xl-4 mb-2">
      <%= render 'app_card', application: app %>
    </div>
  <% end %>
</div>

<%== @pagy.series_nav(:bootstrap) if @pagy.last > 1 %>
