<h2>Character Verification</h2>
<p>You are currently verifying <strong><%= @character.name %></strong>.</p>
<p>
  Please visit this character's <%= link_to "Lodestone profile", @character_registration.lodestone_url, target: "_blank", rel: 'noreferrer noopener' %>
  and add the following text to the character's description.
</p>
<pre><code><%= @character_registration.verification_key %></code></pre>
<p>You may delete this key after verification has succeeded.</p>

<%= button_to character_registration_verify_path(@character_registration), class: "btn btn-primary" do %>
  <i class="bi bi-person-check"></i> Begin Verification
<% end %>
