<% oauth_client = model.application %>
<% client_application = oauth_client.application %>

<div id="oauth-consent-ui">
  <%= render partial: 'oauth/authorizations/auth_card_header',
             locals: { client_application: client_application, action_prefix: "Connected to" } %>
  <div class="card-body">
    <main role="main">
      <div class="text-center">
        <p>Great success! <%= client_application.name %> was successfully authorized.</p>
        <p>If you haven't already, you may close this window and return to your app.</p>
      </div>
    </main>
  </div>
</div>
