services:
  app:
    image: xivauth/xivauth-app:latest
    build:
      context: .
      target: dev
    command: "bin/dev"
    env_file:
      - development.env
      - .env
    environment:
      POSTGRES_HOST: db
      REDIS_URL: redis://redis:6379
      RAILS_ENV: development
    volumes:
      - .:/app:cached
    ports:
      - "3000:3000"
      - "3001:3001"
    expose:
      - 3000
    depends_on:
      - db
      - redis

  db:
    image: postgres:17-alpine
    env_file:
      - development.env
      - .env
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    expose:
      - 5432

  redis:
    image: redis:8-alpine
    env_file: .env
    volumes:
      - redis-data:/data
    ports:
      - "6379:6379"
    expose:
      - "6379"

volumes:
  postgres-data:
    driver: local
  redis-data:
    driver: local