<div class="border-bottom mb-4">
  <h2>Authentication Error</h2>
</div>

<main role="main">
  <p>XIVAuth could not log you in to <strong><%= @pre_auth.client.name %></strong> because of a problem.</p>

  <%# This is honestly really nasty, but yaknow... Doorkeeper shims. If we have a user-caused error message, we'll
      just render a custom template here for the user to see, depending on what the error actually is. %>
  <% if @pre_auth.error == :no_verified_characters %>
    <p>
      You do not have any verified characters on your account.
      Please <%= link_to "add and verify a character", characters_path %> and then try to log in to
      <%= @pre_auth.client.name %> again.
    </p>
  <% end %>
</main>
