<% content_for(:page_header) do %>
  <div>
    <h1>Create Team</h1>
    <p>Register a new Team with XIVAuth</p>
  </div>
<% end %>

<div class="d-flex justify-content-center">
  <h3 class="text-danger">Team registrations not available.</h3>
</div>
