$brand-colors: (
        "discord": #7289DA,
        "github": #333333,
        "steam": #4E697D,
        "twitch": #9146FF,
        "patreon": #FF424D
);

@each $brand, $color in $brand-colors {
  .btn-social-#{$brand} {
    color: #ffffff;
    background-color: $color;
  }

  .btn-social-#{$brand}:hover {
    color: $color;
    background-color: var(--bs-body-bg);
    border: 1px solid $color;
  }
}
