$variable-prefix: bs-;
$colors-name: ('primary', 'secondary') !default;
$custom-colors: (
  "theme-color-default": (
    "primary": #3a57e8,
    "secondary": #001F4D,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),
  "theme-color-blue": (
    "primary": #00C3F9,
    "secondary": #573BFF,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),
  "theme-color-gray": (
    "primary": #91969E,
    "secondary": #FD8D00,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),
  "theme-color-red": (
    "primary": #DB5363,
    "secondary": #366AF0,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),
  "theme-color-yellow": (
    "primary": #EA6A12,
    "secondary": #6410F1,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),
  "theme-color-pink": (
    "primary": #E586B3,
    "secondary": #25C799,
    "success": #1aa053,
    "warning": #f16a1b,
    "danger": #c03221,
    "info": #079aa2,
    "light": #dee2e6,
    "dark": #000000,
    "gray": #6c757d,
  ),

) !default;