<% content_for :page_layout do %>
  <div class="wrapper">
    <section class="login-content">
      <div class="row m-0 align-items-center justify-content-center vh-100 w-100">
        <div class="col-md-4">
          <div class="card my-4">
            <div class="card-body">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>

<%= render template: "layouts/application" %>