<h1>ADMIN - Client Application Management</h1>

<table class="table">
  <thead>
  <tr>
    <th scope="col" width="128">ID Fragment</th>
    <th scope="col">App Name</th>
    <th scope="col">Owner</th>
  </tr>
  </thead>
  <tbody>
  <% @client_applications.each do |app| %>
    <tr>
      <td class="font-monospace"><%= app.id[-8..] %></td>
      <td><%= link_to app.name, admin_client_application_path(app) %></td>
      <td>
        <%= render partial: 'admin/_components/user_link', locals: { target: app.owner } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%== pagy_bootstrap_nav(@pagy) %>