<div class="container">
  <h1>Hello, Rails!</h1>
  <p>This is <code>Marketing#index</code>, reporting for duty!</p>
  <p>The time is currently <%= @current_time %>.</p>

  <p class="small">
    Commit hash: <a href="https://github.com/KazWolfe/XIVAuth/commit/<%= commit_hash %>"><code><%= commit_hash[..7] %></code></a>
  </p>
</div>