<h1>XIVAuth</h1>

<p>XIVAuth is a service to help you log in to community-run Final Fantasy XIV sites.</p>

<p>If you're seeing this, you're looking at a development or preview version of XIVAuth with little
to no competently-designed UI. Click Register/Sign In to get started, I guess.</p>