<div class="modal-header">
  <h5 class="modal-title text-danger" id="verifyLabel">Verification Error</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>
    XIVAuth ran into a problem while attempting to verify your character. Please try again in a few minutes.
  </p>
  <p>
    If you keep having problems, please contact us on
    the <%= link_to "XIVAuth Discord server", discord_path, class: "text-decoration-none", target: "_blank", rel: "noopener" %>
    so that we can help you out. Include the following job ID in your message to help us track down the issue:
  </p>
  <div class="input-group mb-3" data-controller="utilities--copy-code">
    <input type="text" data-utilities--copy-code-target="source" readonly class="form-control text-center font-monospace"
           value="<%= job.job_id %>" aria-label="Verification code">
    <button class="btn btn-outline-secondary" type="button" data-action="utilities--copy-code#copy" data-utilities--copy-code-target="button">
      <i class="bi bi-clipboard"></i> Copy
    </button>
  </div>
</div>
<div class="modal-footer">
  <div class="me-auto">
    <div class="text-secondary very-small align-middle">
      Job ID: <span class="font-monospace"><%= job.job_id %></span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Rats.</button>
</div>