<div class="modal-header">
  <h5 class="modal-title" id="verifyLabel">Verify <%= @character.name %> - Validating</h5>
</div>
<div class="modal-body">
  <p>
    Thanks! We'll go ahead and check for the verification key in your Lodestone profile. This process generally will
    only take a few moments, so you can sit back and relax.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Got it.</button>
</div>