<div class="modal-header">
  <h5 class="modal-title" id="verifyLabel">Verify <%= @character.name %> - Validated!</h5>
</div>
<div class="modal-body">
  <p>
    <strong>Great success!</strong> The character <%= @character.name %> has been successfully validated
    and you have been listed as the owner. You may now use this character to log in to sites that use
    XIVAuth!
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Got it.</button>
</div>