<div class="modal-header">
  <h5 class="modal-title" id="verifyLabel">Couldn't Verify <%= @character.name %></h5>
</div>
<div class="modal-body">
  <p>
    The character <%= @character.name %> could not be validated as belonging to you. This generally
    means the Lodestone code on the page is incorrect or the page wasn't updated by Square fast enough.
  </p>
  <p>
    If this character is yours, you may try verification again. Your verification code will not change.
  </p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Rats.</button>
</div>