<div class="modal-header">
  <h5 class="modal-title text-success" id="verifyLabel">Verified <%= character.name %>!</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>
    <strong>Great success!</strong> You have successfully proven ownership over <%= character.name %>. You may now use
    this character to log in to sites that use XIVAuth.
  </p>
</div>
<div class="modal-footer">
  <div class="me-auto">
    <div class="text-secondary very-small align-middle">
      Job ID: <span class="font-monospace"><%= job.job_id %></span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Yay!</button>
</div>