<div class="modal-header">
  <h5 class="modal-title" id="verifyLabel">Verifying <%= character.name %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>
    Your verification request for <%= character.name %> was successfully submitted, and will be attempted soon. This
    process may take a few minutes.
  </p>
  <p>
    This dialog will automatically update with the status of your verification. You may also close this dialog at any
    time.
  </p>
</div>
<div class="modal-footer">
  <div class="me-auto">
    <div class="text-secondary very-small align-middle">
      Job ID: <span class="font-monospace"><%= job.job_id %></span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Got it.</button>
</div>