<div class="modal-header">
  <h5 class="modal-title text-danger" id="verifyLabel">Couldn't Verify <%= character.name %></h5>
</div>
<div class="modal-body">
  <p>
    XIVAuth was unable to verify <%= character.name %> because that character's profile is marked as private.
  </p>
  <p>
    Please navigate to the
    <a href="https://<%= registration.extra_data.fetch(:region, "na") %>.finalfantasyxiv.com/lodestone/my/setting/account/" target="_blank">Character
      Privacy Settings</a> page and ensure that the <em>Profile</em> setting in the <em>Character Information</em>
    section is set to <em>Public</em>. Profile visibility may be disabled after verification has successfully completed.
  </p>
</div>
<div class="modal-footer">
  <div class="me-auto">
    <div class="text-secondary very-small align-middle">
      Job ID: <span class="font-monospace"><%= job.job_id %></span>
    </div>
  </div>
  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Rats.</button>
</div>