<h1>XIVAuth Developer Agreement</h1>

<p>
  This document serves as the agreement between XIVAuth and developers who wish to use XIVAuth for their applications.
  It contains important information about which apps may or may not be used with XIVAuth, and the conditions under which
  the XIVAuth API may be used.
</p>

<p>
  XIVAuth does not wish to apply undue burdens to developers. However, these standards are here to ensure that XIVAuth
  is used in a way that is consistent with the spirit of the project, reduces potential harm to FINAL FANTASY XIV and
  other projects, and ensures that XIVAuth remains a useful services to everyone. To avoid legal boilerplate, all we
  really ask is that developers refrain from activities that include the following:
</p>

<ul>
  <li>
    <strong>Do not use XIVAuth to track users</strong>
    <p>
      XIVAuth takes user privacy seriously, and expects applications using it to do the same. Information received by
      and for a specific app is intended <em>for</em> that app, and that app only. Developers may not use information
      provided by XIVAuth to create user profiles, trackers, or similar services.
    </p>
  </li>
  <li>
    <strong>Don't violate other projects' IP rights</strong>
    <p>
      This may seem ironic coming from a project that is the result of reverse engineering, but it is nevertheless
      something that we hold closely. XIVAuth may not be used with services or projects that intentionally ignore or
      violate the rights of others in the FINAL FANTASY XIV modding space. Examples include closed-source or paywalled
      plugins or components therein.
    </p>
  </li>
  <li>
    <strong>Don't abuse the service</strong>
    <p>
      XIVAuth is a shared service run by a single developer in the corner of their network stack. Where possible,
      design your application to be a good netizen. Avoid excessive polling, cache data where possible, and be mindful
      of rate limits and similar concerns.
    </p>
  </li>
  <li>
    <strong>Don't use XIVAuth to ruin others' fun</strong>
    <p>
      XIVAuth exists to make it easier for FINAL FANTASY XIV players and community developers alike to do cool things.
      Please don't use XIVAuth to create projects or services that are intended to allow users to cheat, harass, stalk,
      scam, defraud, or otherwise harm players.
    </p>
  </li>
</ul>

<p>
  As a service provider, we reserve the right to disable Applications (or in extreme cases, developer accounts) that
  blatantly violate these standards.
</p>

<div class="mt-4">
  <%= link_to :back, class: "btn btn-secondary" do %>
  <i class="bi bi-arrow-left"></i> Back
  <% end %>
</div>