<h1>XIVAuth Privacy Policy</h1>

<p>XIVAuth collects information that you provide to us to provide and improve our services.</p>

<p>Collected information includes:</p>
<ul>
  <li>Your email address</li>
  <li>Any linked accounts</li>
  <li>Any linked FINAL FANTASY XIV characters or services</li>
  <li>Security information such as passwords and MFA credentials</li>
  <li>Metadata such as IP addresses, ISP information, and browser information</li>
</ul>

<p>
  XIVAuth does not share information with third parties, except when specifically permitted by you via sign-in
  services. Services integration with XIVAuth may collect additional information or have their own privacy policies.
</p>

<p>
  XIVAuth may use your information for internal analytics, reporting, and security purposes. For example, use of certain
  apps or features may be logged to prioritize performance improvements or identify abuse. User information is never
  shared for marketing purposes, including but not limited to advertising.
</p>

<p>
  If compelled by law enforcement or other legal processes, XIVAuth may be required to disclose user information. As of
  October 6, 2025, XIVAuth has not disclosed information to law enforcement.
</p>

<p>
  I am not a lawyer. Please do not sue me.
</p>