<h1>XIVAuth Terms of Service</h1>

<p>
  By signing up for XIVAuth and using an account, you agree to the following Terms of Service. These terms may be
  updated without notice, and your continued use of XIVAuth constitutes acceptance of any changes. These terms are
  written in "plain English" and you agree to follow the intent of the terms.
</p>

<h3>Accounts</h3>
<p>
  Use of XIVAuth's features requires the creation and maintenance of a free account. Management of this account is the
  responsibility of the user. You agree to provide accurate information when creating an account and to keep this
  information up to date. You are responsible for maintaining the confidentiality of your account credentials and for
  all activities that occur under your account.
</p>

<p>
  XIVAuth reserves the right to restrict access, suspend or terminate any account, or remove or edit content, at any
  time, in XIVAuth's sole discretion.
</p>

<h3>External Services</h3>
<p>
  XIVAuth provides the ability for external services to access certain features of your account and any linked
  information that was shared. XIVAuth does not control the privacy policies or practices of these external services,
  and makes no guarantees regarding their use of your information. You are responsible for reviewing and understanding
  the Terms of Service and Privacy Policy of any external service that you use.
</p>

<h3>Limitation of Liability</h3>
<p>
  XIVAuth offers this service "as is" and makes no representations or warranties of any kind, express or implied,
  regarding this service or the content, accuracy, reliability, suitability, or availability with respect to this
  service for any purpose. To the fullest extent permitted by applicable law, XIVAuth excludes all liability for
  damages, losses, costs, or expenses arising from or in connection with the use of this service.
</p>

<p>
  <strong>XIVAuth is not affiliated with Square Enix in any way, shape, or form. FINAL FANTASY XIV and related
    intellectual property is the property of Square Enix and its licensors.</strong> XIVAuth makes all attempts to
  respect the intellectual property rights of Square Enix.
</p>