<div class="modal-header">
  <h5 class="modal-title">Change Password</h5>
</div>
<div class="modal-body">
  <%= render partial: 'users/password/form',
             locals: { user: current_user } %>
</div>