<% content_for :title, "XIVAuth | 403: Forbidden" %>

<div>
  <h1>You do not have permission to access this resource.</h1>
  <p>
    Your current authenticated context does not have permission to access this resource. Please try again with
    valid credentials.
  </p>
</div>
<p class="footer">If you feel like you should have access to this resource, please contact a developer.</p>