<% content_for :title, "XIVAuth | 404: Not Found" %>

<div>
  <h1>The page you were looking for doesn't exist.</h1>
  <p>You may have mistyped the address or the page may have moved.</p>
</div>
<p class="footer">If you clicked on a link in-app, please contact a developer.</p>