<% content_for :title, "XIVAuth | 422: Unprocessable Entity" %>

<div class="content">
  <h1>The change you wanted was rejected.</h1>
  <p>The change you have requested could not be completed. Possible reasons include:</p>
  <ul>
    <li>You are not authorized to modify the resources.</li>
    <li>You have requested an invalid change to this resource.</li>
    <li>This resource does not exist.</li>
  </ul>
</div>
