<% content_for :title, "XIVAuth | 500: Oopsy Woopsy!" %>

<div>
  <h1>We're sorry, but something went wrong.</h1>
  <p>This is the fault of the server, and the server will be punished accordingly.</p>
</div>
