<% content_for :title, "XIVAuth | 500: Oopsy Woopsy!" %>

<div class="content">
  <h1>We're sorry, something went wrong.</h1>
  <p>The server has encountered an error while attempting to process your request. This can be because:</p>
  <ul>
    <li>The server is deciding to have a Bad Day&trade;.</li>
    <li>The developer did not properly test their <code>[object Object]</code>.</li>
    <li>Hot local solar storms in your area!</li>
    <li>Your input contained invaIid data and we trusted you! How could you?</li>
  </ul>
  <p>Regardless of the cause, this is our fault. The XIVAuth developers have been informed of this issue.</p>
</div>
