<% content_for :title, "XIVAuth | #{status}: #{Rack::Utils::HTTP_STATUS_CODES[status]}" %>

<div class="content">
  <h1>Error <%= status %>: <%= Rack::Utils::HTTP_STATUS_CODES[status] %>"</h1>
  <p>
    XIVAuth encountered an error trying to handle your request.
  </p>
</div>
