<h1>XIVAuth Health Check</h1>

<div class="alert alert-info" role="alert">
  Psst! If you're a developer, you can request <code>GET /health.json</code> or specify that you only accept
  <code>application/json</code> to get a JSON view of this page.
</div>


<h4>Current Status: <span class="text-success">All is well!</span></h4>

<table class="table table-borderless table-hover">
  <thead>
  <tr>
    <th scope="col">Component Name</th>
    <th scope="col">Status</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Overall Health</td>
    <td class="text-success">Okay</td>
  </tr>
  </tbody>
</table>