<%= turbo_frame_tag (local_assigns[:modal_id] || "remote_modal"), target: "_top" do %>
  <div class="modal fade" tabindex="-1" data-controller="utilities--remote-modal" data-action="utilities--remote-modal#hideBeforeRender">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="<%= (local_assigns[:modal_id] || "remote_modal") + (local_assigns[:content_tag] || "-content") %>">
        <%= yield %>
      </div>
    </div>
  </div>
<% end %>