<p>
  Our email provider rejected the email address provided. This likely means that a past email delivery to this address
  failed, the email marked previous emails from Postmark as spam, or the email address is otherwise invalid.
</p>
<p>
  If you are <em>certain</em> this email address is correct, please contact an XIVAuth developer to have your email
  address reactivated.
</p>