<h1>ADMIN - Users</h1>
<table class="table">
  <thead>
  <tr>
    <th class="col" width="360">User ID</th>
    <th class="col">Username</th>
    <th class="col">Characters</th>
    <th class="col">Verified Character?</th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, admin_user_path(user) %></td>
      <td><%= user.name %></td>
      <td><%= user.characters.count %></td>
      <td><%= user.characters.any? { |c| c.verified? } ? "Yes" : "No" %></td>
    </tr>
  <% end %>
  </tbody>
</table>