meter.password-strength-meter {
  width: 100%;
  height: 1em;

  background: var(--bs-border-color) none;
  border-radius: var(--bs-border-radius);

  &::-webkit-meter-bar {
    height: 1em;
    background: none;
    border: none;
    border-radius: var(--bs-border-radius);
  }

  &::-webkit-meter-even-less-good-value {
    background: var(--bs-danger);
    border-radius: var(--bs-border-radius);
  }
  &:-moz-meter-sub-sub-optimum::-moz-meter-bar {
    background: var(--bs-danger);
    border-radius: var(--bs-border-radius);
  }

  &::-webkit-meter-suboptimum-value {
    background: var(--bs-warning);
    border-radius: var(--bs-border-radius);
  }
  &:-moz-meter-sub-optimum::-moz-meter-bar {
    background: var(--bs-warning);
    border-radius: var(--bs-border-radius);
  }

  &::-webkit-meter-optimum-value {
    background: var(--bs-success);
    border-radius: var(--bs-border-radius);
  }
  &:-moz-meter-optimum::-moz-meter-bar {
    background: var(--bs-success);
    border-radius: var(--bs-border-radius);
  }
}
